@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 titulo">Tabla de Goleadores</h1>
    <p>Liga Betplay <a href="https://www.winsports.co/goleadores/liga-betplay-dimayor-2024-i">Goleadores</a>.</p>
</div>

<div class="container">
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Jugadores</th>
                        <th scope="col">Goles</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Partidos Jugados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Edwin Cardona</td>
                        <td>4</td>
                        <td>Atlético Nacional</td>
                         <td>7</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Ramon Holgado</td>
                        <td>3</td>
                        <td>América</td>
                         <td>4</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Fredy Montero</td>
                        <td>3</td>
                        <td>Cali</td>
                         <td>5</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Michaell Barrios</td>
                        <td>3</td>
                        <td>Once Caldas</td>
                         <td>5</td>
                    </tr>
                     <tr>
                        <th scope="row">5</th>
                        <td>Carlos Bacca</td>
                        <td>2</td>
                        <td>Junior</td>
                         <td>3</td>
                    </tr>
                     <tr>
                        <th scope="row">6</th>
                        <td>Angelo Rodriguez</td>
                        <td>2</td>
                        <td>Santa Fe</td>
                         <td>4</td>
                    </tr>
                     <tr>
                        <th scope="row">7</th>
                        <td>Deiber Moreno</td>
                        <td>2</td>
                        <td>Pasto</td>
                         <td>4</td>
                    </tr>
                     <tr>
                        <th scope="row">8</th>
                        <td>Juan Pablo Nieto</td>
                        <td>2</td>
                        <td>Tolima</td>
                         <td>4</td>
                    </tr>
                     <tr>
                        <th scope="row">9</th>
                        <td>Yeison Guzman</td>
                        <td>2</td>
                        <td>Tolima</td>
                         <td>4</td>
                    </tr>
                     <tr>
                        <th scope="row">10</th>
                        <td>Carlos Ramirez</td>
                        <td>2</td>
                        <td>Envigado</td>
                         <td>4</td>
                    </tr>

                    
                </tbody>
            </table>

</div>
